---
layout: default
---

<div style="width:30%;float:left;">
	<center>
		<img src="img/ifpb.png" style="width:100%">
	</center>
	<center>
		<div class="dropdown">
		<button onclick="myFunction('myDropdownProfessor')" class="dropbtn">Professores</button>
		  <div id="myDropdownProfessor" class="dropdown-content" style="display:none">
		    <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction('myInput','myDropdownProfessor')">
			<div style="height:350px">
		    	{% for profz in site.data.hprofessor.professores %}
				<p onclick="Botao('{{profz}}')">{{profz}} </p>
			{% endfor %}
			</div>
		  </div>
		</div>
		<div class="dropdown" style="margin-top:2px">
		<button onclick="myFunction('myDropdownTurma')" class="dropbtn">Turmas</button>
		  <div id="myDropdownTurma" class="dropdown-content" style="display:none">
		    	<input type="text" placeholder="Search..." id="myInput2" onkeyup="filterFunction('myInput2','myDropdownTurma')">
			  {% for turmaz in site.data.hturma.turmas %}
			  	<p onclick="Botao('{{turmaz}}')">{{turmaz}} </p>
			  {% endfor %}
		  </div>
		</div>
	</center>
</div>
{% for curso in site.data.horario.cursos %}
    {% for turma in curso.turmas %}
	<div id="{{turma.nome}}" class="renan" style="display: none;float:right;width:69.999%">
		<center>
			<h2>{{turma.nome}}</h2>
		</center>
		<div class="container">
			<table class="table table-striped">
			<tr>
			{% for coluna in turma.colunas %}
				<th>{{coluna}}</th>
			{% endfor %}
			 </tr>
			{% for linha in turma.linhas %}
				<tr>
				<td>{{ linha.horario }}</td>
				{% for aula in linha.aulas %}
					{% if aula.disciplina == "ALMOÇO" or aula.disciplina == "JANTAR" or aula.disciplina == "INTERVALO" %}
						<td colspan="5" style="font-size:15px">{{ aula.disciplina }}</td>
						{% break %}
					{% else %}
						<td style="font-size:15px">{{ aula.disciplina }}<br>{{aula.professor}}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
    {% endfor %}
  {% endfor %}

{% for professor in site.data.horario.professores %}
	<div id="{{professor.nome}}" class="renan" style="display: none;float:right;width:69.999%">
		<center>
			<h2>{{professor.nome}}</h2>
		</center>
		<div class="container">
			<table class="table table-striped">
			<tr>
			{% for coluna in professor.colunas %}
				<th>{{coluna}}</th>
			{% endfor %}
			 </tr>
			{% for linha in professor.linhas %}
				<tr>
				<td>{{ linha.horario }}</td>
				{% for aula in linha.aulas %}
					{% if aula.disciplina == "ALMOÇO" or aula.disciplina == "JANTAR" or aula.disciplina == "INTERVALO" %}
						<td colspan="5" style="font-size:15px">{{ aula.disciplina }}</td>
						{% break %}
					{% else %}
						<td style="font-size:15px">{{ aula.disciplina }}<br>{{aula.turma}}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
  {% endfor %}







