---
layout: default
---


<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Professores</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction()">
    {% for profz in site.data.hprofessor.professores %}
	  <p onclick="Botao('{{profz}}')">{{profz}} </p>
	{% endfor %}
  </div>
</div>
<div class="dropdown">
<button onclick="myFunction2()" class="dropbtn">Turmas</button>
  <div id="myDropdown2" class="dropdown-content">
    <input type="text" placeholder="Search..." id="myInput2" onkeyup="filterFunction2()">
    {% for cursoz in site.data.horario.cursos %}
	  {% for turmaz in cursoz.turmas %}
	  <p onclick="Botao2('{{turmaz.nome}}')">{{turmaz.nome}} </p>
	  {% endfor %}
	{% endfor %}
  </div>
</div>

{% for prof in site.data.hprofessor.professores %}
	<div id="{{prof}}" class="renan" style="display: none">
	<h1>{{prof}}</h1>
   {% for curso in site.data.horario.cursos %}
    <h2><center> {{curso.nome}} </center></h2>
    {% for turma in curso.turmas %}
	<div class="renan2" style="display: none">
      <h3><center>{{turma.nome}}<center></h3>
      <div class="container">
      <table class="table table-striped">
        <tr>
        {% for coluna in turma.colunas %}
         <th>{{coluna}}</th>
        {% endfor %}
	      </tr>
        
        {% for linha in turma.linhas %}
          <tr>
          <td>{{linha.horario}}</td>
          {% for aula in linha.aulas %}
		{% if aula.professor == prof or prof == "Todos" %}
		  <td>{{aula.disciplina}} <br/> {{aula.professor}}</td> 
		  {% else %}
		  <td> <br/> </td> 
		  {% endif %}     
          {% endfor %}
          </tr>
       {% endfor %}
       </table>
	</div>
	 </div>
    {% endfor %}
  {% endfor %}
</div>
{% endfor %}







